#userInformation {
  color: #707981;
  font-size: 1.2em;
  text-align: left;
  font-family: Comic Sans MS, sans-serif;
}
.textV {
  color: black;
  font-size: 1.2em;
  font-family: Comic Sans MS, sans-serif;
}
h2 {
  text-align: center;
  color: black;
  font-size: 1.2em;
  font-family: Comic Sans MS, sans-serif;
}
